<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>74586162089-dcuh96afgrnrlq59m3m4i09aa7brpp07.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.74586162089-dcuh96afgrnrlq59m3m4i09aa7brpp07</string>
	<key>API_KEY</key>
	<string>AIzaSyBCyjnPFNofG6W76V7b2dCj8BiAZYFcMpI</string>
	<key>GCM_SENDER_ID</key>
	<string>74586162089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tawwon</string>
	<key>PROJECT_ID</key>
	<string>taawon-ff40f</string>
	<key>STORAGE_BUCKET</key>
	<string>taawon-ff40f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74586162089:ios:cf8e64c2748ab6f42a7ab8</string>
</dict>
</plist>